body {
	display: flex;
	justify-content: top;
	flex-direction: column;
	align-items: center;
}

#teame {
	margin-bottom: 4px;
}

#stats {
	margin-bottom: 4px;
}

#retour {
	margin-bottom: 4px;
}

ul {
	list-style-type: none;
}

.lis {
	font-size: 25px;
	margin-bottom: 4px;
}

#zaChart {
	margin-bottom: 4px;
}

#ptChart {
	margin-bottom: 4px;
}

#pmChart {
	margin-bottom: 4px;
}

.listStats {
	margin-bottom: 6px;
}